<div class="row">
  <div class="d-flex flex-row flex-stretch justify-content-center ">
    <h1> Inscriptions</h1>
  </div>

</div>
<!--form inscription-->

<form [formGroup]="formGroup" class="example-form">
  <div
    class=" d-flex flex-row flex-stretch justify-content-center align-content-around align-items-stretch align-content-between flex-wrap ">
    <div class=" d-flex align-items-stretch mx-3">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Etudiant</mat-label>
        <input [matAutocomplete]="auto"
               aria-label="Student"
               formControlName="student_id"
               matInput>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let c of filteredStudents | async" [value]="c.id">
            <span>{{c.firstName}}</span> &nbsp; <span>{{c.lastName}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Classe</mat-label>
        <input [matAutocomplete]="auto2"
               aria-label="Class"
               formControlName="class_id"
               matInput>
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let c of filteredClasses | async" [value]="c.id">
            <span>{{c.name}}</span>
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

    </div>
    <div class="mx-3 mt-2 justify-content-center ">

      <button (click)="inscrire()" [disabled]="!formGroup.valid" mat-raised-button type="button">
        <mat-icon aria-label="inscrire" class="edacy-yellow-color" title="inscrire">
          add
        </mat-icon>
        Inscrire
      </button>

    </div>


  </div>
</form>


<!--table-->
<div class="row">
  <table class="table table-striped table-hover radius-bloc border-yellow">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Etudiant</th>
      <th scope="col">Classe</th>
      <th scope="col">Date d'inscription</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of enrolls">
      <th>{{c?.id}}</th>
      <td>{{getStudentByid(c.student_id)?.firstName + " " + getStudentByid(c.student_id)?.lastName }}</td>
      <td>{{getClassByid(c.class_id)?.name }}</td>
      <td>{{c.enrollDate | date:'short'   }}</td>
      <td class="left-bloc">
        <button (click)="onCancelClick(c)" mat-raised-button type="button">
          <mat-icon class="edacy-red-color" title="Annuler">delete</mat-icon>
          Annuler
        </button>
      </td>
    </tr>

    </tbody>
  </table>

</div>



